<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Shipy{% endblock %}</title>
    <link rel="stylesheet" href="/public/base.css" />
    <link rel="stylesheet" href="/public/docs.css" />
    <link rel="icon" href="/public/favicon.svg" type="image/svg+xml" />
    <script
      async
      src="https://analytics.rafaelviana.com/script.js"
      data-website-id="a41565ec-a468-40c3-8c72-d0f7280f8600"
    ></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
  {% block scripts %}{% endblock %}
</html>
